* {
	font-family: system-ui;
}
body {
	padding: 0 2em;
	text-rendering: optimizeLegibility;
	color: #444;
	background: #eee;
}

#nav {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}


.thetable {
	background: #34495e;
	color: #fff;
	border-radius: .4em;
	overflow: hidden;
	display: flex;
	place-items: center;
	margin: 10% 0 ;
}

#d {
  text-align: left;
  display: flex;
	flex-direction: column;
	place-items: center;
	margin: 10px 0;
}